<div class="menu-outer">
    <div class="container">
        <div class="row">
            <div class="col-12 align-self-center d-menu-col">
                <nav class="grid__item" id="AccessibleNav">
                    <ul id="siteNav" class="site-nav medium center hidearrow">
                        <li class="lvl1 parent megamenu mdropdown">
                            <a href="#home">Home <i class="anm anm-angle-down-l"></i></a>
                        </li>
                        <li class="lvl1 parent megamenu">
                            <a href="#about">ABOUT <i class="anm anm-angle-down-l"></i></a>
                        </li>
                        <li class="lvl1 parent megamenu">
                            <a href="#categories">CATEGORIES <i class="anm anm-angle-down-l"></i></a>
                        </li>
                        <li class="lvl1 parent dropdown">
                            <a href="#sale">SALE <i class="anm anm-angle-down-l"></i></a>
                        </li>
                        <li class="lvl1 parent dropdown">
                            <a href="#testimonials">TESTIMONIALS <i class="anm anm-angle-down-l"></i></a>
                        </li>
                        <li class="lvl1 parent dropdown">
                            <a href="#footer">CONTACT US <i class="anm anm-angle-down-l"></i></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>